@font-face {
  font-family: 'open_sansregular';
  src: url("fonts/opensans-regular-webfont.eot");
  src: url("fonts/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/opensans-regular-webfont.woff2") format("woff2"), url("fonts/opensans-regular-webfont.woff") format("woff"), url("fonts/opensans-regular-webfont.ttf") format("truetype"), url("fonts/opensans-regular-webfont.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sanssemibold';
  src: url("fonts/opensans-semibold-webfont.eot");
  src: url("fonts/opensans-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/opensans-semibold-webfont.woff2") format("woff2"), url("fonts/opensans-semibold-webfont.woff") format("woff"), url("fonts/opensans-semibold-webfont.ttf") format("truetype"), url("fonts/opensans-semibold-webfont.svg#open_sanssemibold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserratregular';
  src: url("fonts/montserrat-regular-webfont.eot");
  src: url("fonts/montserrat-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/montserrat-regular-webfont.woff2") format("woff2"), url("fonts/montserrat-regular-webfont.woff") format("woff"), url("fonts/montserrat-regular-webfont.ttf") format("truetype"), url("fonts/montserrat-regular-webfont.svg#montserratregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 10, ../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 12, ../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/layout/_sticky-footer.scss */
#layout {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -62px;
}
/* line 18, ../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/layout/_sticky-footer.scss */
#layout #layout_footer {
  height: 62px;
}

/* line 20, ../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/layout/_sticky-footer.scss */
#footer {
  clear: both;
  position: relative;
  height: 62px;
}

/* line 50, ../../src/stylesheets/style.scss */
html, body {
  position: relative;
  min-height: 100%;
  width: 100%;
}

/* line 55, ../../src/stylesheets/style.scss */
body {
  /*@include background(image-url("bg.jpg") center center no-repeat #000707 );
  @include background-size(cover);*/
  color: #000000;
  font-family: 'open_sansregular', sans-serif;
}

/* line 63, ../../src/stylesheets/style.scss */
::placeholder {
  color: #555;
}

/* line 64, ../../src/stylesheets/style.scss */
:-ms-input-placeholder {
  color: #555;
}

/* line 65, ../../src/stylesheets/style.scss */
::-ms-input-placeholder {
  color: #555;
}

/* line 66, ../../src/stylesheets/style.scss */
select, input {
  color: #555 !important;
}

/* line 70, ../../src/stylesheets/style.scss */
p {
  text-align: justify;
}

/* line 75, ../../src/stylesheets/style.scss */
.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-30%);
  transform: translateY(-30%);
}

/* line 83, ../../src/stylesheets/style.scss */
.header {
  max-width: 1673px;
}
/* line 87, ../../src/stylesheets/style.scss */
.header .navbar-default {
  background-color: transparent;
  border-color: transparent;
}
/* line 91, ../../src/stylesheets/style.scss */
.header .navbar-default ul .active > a {
  color: #eb9000;
  background-color: transparent;
}
/* line 97, ../../src/stylesheets/style.scss */
.header .navbar-right {
  margin-top: 25px;
}
/* line 100, ../../src/stylesheets/style.scss */
.header .navbar-header {
  margin-top: 27px;
}
/* line 103, ../../src/stylesheets/style.scss */
.header .navbar-default .navbar-collapse, .header .navbar-default .navbar-form {
  border-color: transparent;
}
/* line 106, ../../src/stylesheets/style.scss */
.header .navbar-right li a {
  font-size: 16px;
}

/*header end */
/* line 112, ../../src/stylesheets/style.scss */
.mainSlider {
  border-bottom-left-radius: 29% 12%;
  border-bottom-right-radius: 29% 12%;
  overflow: hidden;
  position: relative;
  /*carousel end*/
}
/* line 119, ../../src/stylesheets/style.scss */
.mainSlider .carousel {
  position: relative;
}
/* line 121, ../../src/stylesheets/style.scss */
.mainSlider .carousel .carousel-inner {
  position: relative;
}
/* line 123, ../../src/stylesheets/style.scss */
.mainSlider .carousel .carousel-inner .carousel-caption {
  top: 100px;
}
/* line 125, ../../src/stylesheets/style.scss */
.mainSlider .carousel .carousel-inner .carousel-caption p {
  font-family: 'open_sanssemibold', sans-serif;
  text-transform: uppercase;
  font-size: 76.62px;
  letter-spacing: 3px;
}
/* line 130, ../../src/stylesheets/style.scss */
.mainSlider .carousel .carousel-inner .carousel-caption p span {
  color: #eb9000;
}
/* line 136, ../../src/stylesheets/style.scss */
.mainSlider .carousel .carousel-indicators {
  left: auto;
  width: 30%;
  top: 200px;
  right: 0%;
  transform: rotate(90deg);
  position: absolute;
  bottom: auto;
}
/* line 144, ../../src/stylesheets/style.scss */
.mainSlider .carousel .carousel-indicators li {
  background-color: #fff;
  margin-right: 10px;
  vertical-align: middle;
}
/* line 150, ../../src/stylesheets/style.scss */
.mainSlider .carousel .carousel-indicators .active {
  /*background-color: #eb9000;*/
  border: 1px solid transparent;
  background: url('../images/activeCarrousel.png') center center no-repeat transparent;
  width: 32px !important;
  height: 32px !important;
}

/*mainSlider end*/
/* line 170, ../../src/stylesheets/style.scss */
.formBooking {
  margin-bottom: 100px;
  margin: 0 auto;
  top: -250px;
  width: 80%;
  padding: 30px 40px;
  background: white;
  min-height: 288px;
  /*border: 1px solid red;*/
  position: relative;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  -webkit-box-shadow: 0px 21px 17px 5px rgba(233, 228, 254, 0.71);
  -moz-box-shadow: 0px 21px 17px 5px rgba(233, 228, 254, 0.71);
  box-shadow: 0px 21px 17px 5px rgba(233, 228, 254, 0.71);
}
/* line 186, ../../src/stylesheets/style.scss */
.formBooking div.row:first-child {
  margin-bottom: 30px;
}
/* line 189, ../../src/stylesheets/style.scss */
.formBooking h2 {
  font-size: 22px;
  text-transform: uppercase;
  color: #eb9000;
  padding-bottom: 22px;
  border-bottom: 3px solid #eb9000;
  display: inline-block;
  margin-bottom: 30px;
}
/* line 198, ../../src/stylesheets/style.scss */
.formBooking select, .formBooking input {
  width: 100% !important;
  height: 50px;
  border-radius: 8px;
  border: 1px solid #535353;
}
/* line 204, ../../src/stylesheets/style.scss */
.formBooking .btn-reservez {
  width: 212px;
  height: 48px;
  text-align: center;
  padding: 18px 60px;
  background: #eb9000;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 10px;
  transition: 0.3s;
}
/* line 215, ../../src/stylesheets/style.scss */
.formBooking .btn-reservez:hover {
  background: #b1720e;
}
/* line 219, ../../src/stylesheets/style.scss */
.formBooking .dateDebut {
  background: url('../images/iconDate.jpg') right 14px center no-repeat;
}
/* line 222, ../../src/stylesheets/style.scss */
.formBooking .iconName {
  background: url('../images/iconName.jpg') right 14px center no-repeat;
}
/* line 225, ../../src/stylesheets/style.scss */
.formBooking .emailBooking {
  background: url('../images/iconEmail.jpg') right 14px center no-repeat;
}

/*formBooking*/
/* line 230, ../../src/stylesheets/style.scss */
.brusselLimoPara {
  overflow: hidden;
  margin-bottom: 60px;
}
/* line 234, ../../src/stylesheets/style.scss */
.brusselLimoPara .brusselLimoParaLeft h2 {
  font-size: 42px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 30px;
  font-weight: bold;
  letter-spacing: 2px;
}
/* line 242, ../../src/stylesheets/style.scss */
.brusselLimoPara .brusselLimoParaLeft p {
  font-size: 24.14px;
  margin-bottom: 40px;
  font-family: 'montserratregular', sans-serif;
}
/* line 247, ../../src/stylesheets/style.scss */
.brusselLimoPara .brusselLimoParaLeft .btnSavoirPlus {
  width: 212px;
  height: 48px;
  text-align: center;
  padding: 18px 30px;
  background: #eb9000;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 10px;
  transition: 0.3s;
}
/* line 258, ../../src/stylesheets/style.scss */
.brusselLimoPara .brusselLimoParaLeft .btnSavoirPlus:hover {
  background: #b1720e;
}
/* line 264, ../../src/stylesheets/style.scss */
.brusselLimoPara .brusselLimoParaRight img {
  margin-top: 35%;
}

/*brusselLimoPara*/
/*===================================================================
==================3d slider==========================================
====================================================================*/
/* line 274, ../../src/stylesheets/style.scss */
.rotateslider-container {
  position: relative;
  width: 1000px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  background-color: #efefef;
}

/* line 283, ../../src/stylesheets/style.scss */
.rotateslider-container .rotateslider-item {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%) scale(0.6);
  -ms-transform: translateY(-50%) translateX(-50%) scale(0.6);
  transform: translateY(-50%) translateX(-50%) scale(0.6);
  opacity: 0;
  -webkit-filter: blur(5px);
  filter: blur(5px);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* line 297, ../../src/stylesheets/style.scss */
.rotateslider-container .rotateslider-item.next {
  left: 80%;
  opacity: 0.5;
}

/* line 302, ../../src/stylesheets/style.scss */
.rotateslider-container .rotateslider-item.prev {
  left: 20%;
  opacity: 0.5;
}

/* line 307, ../../src/stylesheets/style.scss */
.rotateslider-container .rotateslider-item.now {
  opacity: 1;
  -webkit-filter: blur(0px);
  filter: blur(0px);
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%) scale(1);
  -ms-transform: translateY(-50%) translateX(-50%) scale(1);
  transform: translateY(-50%) translateX(-50%) scale(1);
}

/* line 318, ../../src/stylesheets/style.scss */
.rotateslider-container .arrow {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #000;
  position: absolute;
  top: 50%;
  margin-top: -25px;
  cursor: pointer;
  color: #fff;
  text-align: center;
}

/* line 331, ../../src/stylesheets/style.scss */
.rotateslider-container .arrow.left {
  left: 0;
}

/* line 333, ../../src/stylesheets/style.scss */
.rotateslider-container .arrow.right {
  right: 0;
}

/*===================================================================
==================3d slider end======================================
====================================================================*/
/* line 340, ../../src/stylesheets/style.scss */
.brusselLimoSlider {
  background: #f9faff;
  padding: 70px 0 100px 0;
  margin-bottom: 60px;
}
/* line 345, ../../src/stylesheets/style.scss */
.brusselLimoSlider h2 {
  font-family: 'open_sanssemibold', sans-serif;
  text-align: center;
  font-size: 42px;
  color: #eb9000;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 86px;
}
/* line 354, ../../src/stylesheets/style.scss */
.brusselLimoSlider .rotateslider-container {
  position: relative;
  max-width: 1000px;
  height: 370px;
  margin-left: auto;
  margin-left: auto;
  background-color: #f9faff;
}
/* line 361, ../../src/stylesheets/style.scss */
.brusselLimoSlider .rotateslider-container .caption {
  font-family: 'open_sanssemibold', sans-serif;
  background: #eb9000;
  color: #ffffff;
  width: 288px;
  height: 340px;
  left: 50%;
  top: 30%;
  margin-left: -144px;
  padding: 8px 23px;
  text-align: left;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
/* line 377, ../../src/stylesheets/style.scss */
.brusselLimoSlider .rotateslider-container .arrow.right {
  right: 40%;
  background: url('../images/arrowSliderRight.png') right 14px center no-repeat;
}
/* line 381, ../../src/stylesheets/style.scss */
.brusselLimoSlider .rotateslider-container .arrow.left {
  left: 40%;
  background: url('../images/arrowSliderLeft.png') right 14px center no-repeat;
}
/* line 385, ../../src/stylesheets/style.scss */
.brusselLimoSlider .rotateslider-container .arrow {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #000;
  position: absolute;
  top: 110%;
  margin-top: -25px;
  cursor: pointer;
}

/*brusselLimoSlider end*/
/* line 399, ../../src/stylesheets/style.scss */
.blocReservez .blocReservezLeft {
  max-height: 530px;
  overflow-y: scroll;
  overflow-x: hidden;
}
/* line 403, ../../src/stylesheets/style.scss */
.blocReservez .blocReservezLeft h3 {
  font-family: 'open_sanssemibold', sans-serif;
  color: #eb9000;
  font-size: 17.64px;
  margin-bottom: 17px;
  letter-spacing: 1.5px;
}
/* line 410, ../../src/stylesheets/style.scss */
.blocReservez .blocReservezLeft p {
  font-size: 13.72px;
  font-family: 'open_sansregular', sans-serif;
  letter-spacing: 1.5px;
  margin-bottom: 40px;
}
/* line 419, ../../src/stylesheets/style.scss */
.blocReservez .blocReservezRight {
  height: 530px;
  background: url('../images/blocReservezRight.png') right bottom -115px no-repeat;
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  position: relative;
}
/* line 424, ../../src/stylesheets/style.scss */
.blocReservez .blocReservezRight .btn-reservez {
  position: absolute;
  bottom: 100px;
  left: 170px;
  width: 179px;
  height: 48px;
  text-align: center;
  padding: 18px 60px;
  background: #eb9000;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 10px;
  transition: 0.3s;
}
/* line 438, ../../src/stylesheets/style.scss */
.blocReservez .blocReservezRight .btn-reservez:hover {
  background: #b1720e;
}

/*end blocReservez*/
/* line 448, ../../src/stylesheets/style.scss */
.blocNousChoisir {
  padding: 90px 0;
  background: #f9faff;
  overflow: hidden;
}
/* line 453, ../../src/stylesheets/style.scss */
.blocNousChoisir .blocNousChoisirLeft {
  background: url('../images/blocNousChoisirLeft.png') left center no-repeat;
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  height: 650px;
}
/* line 459, ../../src/stylesheets/style.scss */
.blocNousChoisir .blocNousChoisirRight {
  height: 650px;
}
/* line 461, ../../src/stylesheets/style.scss */
.blocNousChoisir .blocNousChoisirRight h2 {
  font-family: 'open_sanssemibold', sans-serif;
  color: #eb9000;
  font-size: 42px;
  margin-bottom: 70px;
  letter-spacing: 1.5px;
}
/* line 468, ../../src/stylesheets/style.scss */
.blocNousChoisir .blocNousChoisirRight h3 {
  font-family: 'open_sanssemibold', sans-serif;
  color: #eb9000;
  font-size: 24px;
  margin-bottom: 30px;
  letter-spacing: 1.2px;
}
/* line 475, ../../src/stylesheets/style.scss */
.blocNousChoisir .blocNousChoisirRight p {
  font-size: 18px;
  font-family: 'open_sansregular', sans-serif;
  color: #000000;
  letter-spacing: 1.2px;
}
/* line 481, ../../src/stylesheets/style.scss */
.blocNousChoisir .blocNousChoisirRight .paraOdd, .blocNousChoisir .blocNousChoisirRight .paraEven {
  padding: 35px 28px;
  max-width: 812px;
}
/* line 485, ../../src/stylesheets/style.scss */
.blocNousChoisir .blocNousChoisirRight .paraEven {
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 30px 24px #eeecff;
  -moz-box-shadow: 0px 0px 30px 24px #eeecff;
  box-shadow: 0px 0px 30px 24px #eeecff;
}

/*blocNousChoisir*/
/* line 495, ../../src/stylesheets/style.scss */
.blocFormulaire {
  overflow: hidden;
  background: linear-gradient(to right, #eb9000, #eb9000 50%, #ffffff 50.01%, #ffffff 100%);
}
/* line 499, ../../src/stylesheets/style.scss */
.blocFormulaire .blocFormulaireLeft {
  padding-top: 219px;
  padding-bottom: 361px;
  font-family: 'Roboto Condensed', sans-serif;
}
/* line 503, ../../src/stylesheets/style.scss */
.blocFormulaire .blocFormulaireLeft h2 {
  font-family: 'Roboto Condensed', sans-serif;
  margin-bottom: 50px;
  font-size: 42px;
  font-weight: 700;
  text-transform: uppercase;
  max-width: 500px;
}
/* line 511, ../../src/stylesheets/style.scss */
.blocFormulaire .blocFormulaireLeft p {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  font-style: italic;
  max-width: 500px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}
/* line 520, ../../src/stylesheets/style.scss */
.blocFormulaire .blocFormulaireRight {
  margin-top: 146px;
  padding-left: 115px;
}
/* line 523, ../../src/stylesheets/style.scss */
.blocFormulaire .blocFormulaireRight label {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 300;
}
/* line 528, ../../src/stylesheets/style.scss */
.blocFormulaire .blocFormulaireRight input {
  border: 0px solid transparent;
  box-shadow: none;
  border-bottom: 1px solid #cacdd9;
  margin-bottom: 88px;
}
/* line 534, ../../src/stylesheets/style.scss */
.blocFormulaire .blocFormulaireRight button.btn-envoyer {
  width: 190px;
  height: 52px;
  text-align: center;
  padding: 18px 60px;
  background: #eb9000;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 10px;
  transition: 0.3s;
}
/* line 545, ../../src/stylesheets/style.scss */
.blocFormulaire .blocFormulaireRight button.btn-envoyer:hover {
  background: #b1720e;
}

/*blocFormulaire*/
/* line 553, ../../src/stylesheets/style.scss */
#footer {
  margin-top: 200px;
  /*subFooter*/
}
/* line 555, ../../src/stylesheets/style.scss */
#footer .subFooter {
  margin-bottom: 170px;
  text-align: left;
}
/* line 558, ../../src/stylesheets/style.scss */
#footer .subFooter h3 {
  font-family: 'Roboto', sans-serif;
  color: #eb9000;
  font-size: 22px;
  margin-bottom: 45px;
  text-transform: uppercase;
  font-weight: bold;
}
/* line 567, ../../src/stylesheets/style.scss */
#footer .subFooter ul li {
  margin-bottom: 30px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
}
/* line 576, ../../src/stylesheets/style.scss */
#footer .socialIcons {
  text-align: right;
  margin-bottom: 100px;
}
/* line 581, ../../src/stylesheets/style.scss */
#footer .footerLinks {
  text-align: right;
  margin-bottom: 35px;
}
/* line 585, ../../src/stylesheets/style.scss */
#footer .footerLinks li a {
  font-size: 16px;
  font-family: 'open_sansregular', sans-serif;
  letter-spacing: 1.2px;
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
}

/*================================================
=============Descktop First=======================
=================================================*/
@media (max-width: 1440px) {
  /* line 607, ../../src/stylesheets/style.scss */
  .header .navbar-right li a {
    font-size: 15.5px;
  }

  /*header end */
  /* line 613, ../../src/stylesheets/style.scss */
  .mainSlider {
    /*carousel end*/
  }
  /* line 617, ../../src/stylesheets/style.scss */
  .mainSlider .carousel .carousel-inner .carousel-caption {
    top: 90px;
  }
  /* line 619, ../../src/stylesheets/style.scss */
  .mainSlider .carousel .carousel-inner .carousel-caption p {
    font-size: 70px;
    letter-spacing: 2.5px;
  }
  /* line 625, ../../src/stylesheets/style.scss */
  .mainSlider .carousel .carousel-indicators {
    width: 20%;
    top: 190px;
    right: 0%;
  }
  /* line 629, ../../src/stylesheets/style.scss */
  .mainSlider .carousel .carousel-indicators li {
    margin-right: 15px;
  }

  /*mainSlider end*/
  /* line 640, ../../src/stylesheets/style.scss */
  .formBooking {
    margin-bottom: 0px;
    top: -200px;
    width: 85%;
    padding: 25px 35px;
  }
  /* line 646, ../../src/stylesheets/style.scss */
  .formBooking ::placeholder {
    color: #555;
  }
  /* line 647, ../../src/stylesheets/style.scss */
  .formBooking :-ms-input-placeholder {
    color: #555;
  }
  /* line 648, ../../src/stylesheets/style.scss */
  .formBooking ::-ms-input-placeholder {
    color: #555;
  }
  /* line 650, ../../src/stylesheets/style.scss */
  .formBooking div.row:first-child {
    margin-bottom: 25px;
  }
  /* line 653, ../../src/stylesheets/style.scss */
  .formBooking h2 {
    font-size: 22px;
    /*22*/
    padding-bottom: 20px;
    margin-bottom: 25px;
  }
  /* line 658, ../../src/stylesheets/style.scss */
  .formBooking .btn-reservez {
    width: 200px;
    height: 48px;
  }

  /*formBooking*/
  /* line 666, ../../src/stylesheets/style.scss */
  .brusselLimoPara {
    margin-bottom: 40px;
  }
  /* line 669, ../../src/stylesheets/style.scss */
  .brusselLimoPara .brusselLimoParaLeft h2 {
    font-size: 40px;
    margin-bottom: 30px;
  }
  /* line 673, ../../src/stylesheets/style.scss */
  .brusselLimoPara .brusselLimoParaLeft p {
    font-size: 22px;
    margin-bottom: 30px;
  }
  /* line 677, ../../src/stylesheets/style.scss */
  .brusselLimoPara .brusselLimoParaLeft .btnSavoirPlus {
    width: 200px;
    height: 48px;
  }
  /* line 683, ../../src/stylesheets/style.scss */
  .brusselLimoPara .brusselLimoParaRight img {
    margin-top: 30%;
  }

  /*brusselLimoPara*/
  /* line 689, ../../src/stylesheets/style.scss */
  .rotateslider-container {
    width: 100%;
    height: 500px;
  }

  /* line 694, ../../src/stylesheets/style.scss */
  .brusselLimoSlider {
    background: #f9faff;
    padding: 40px 0 90px 0;
    margin-bottom: 50px;
  }
  /* line 699, ../../src/stylesheets/style.scss */
  .brusselLimoSlider h2 {
    font-size: 40px;
    color: #eb9000;
    margin-bottom: 80px;
  }

  /*brusselLimoSlider end*/
  /* line 708, ../../src/stylesheets/style.scss */
  .blocReservez .blocReservezLeft {
    height: 480px;
  }
  /* line 710, ../../src/stylesheets/style.scss */
  .blocReservez .blocReservezLeft h3 {
    font-size: 16px;
    margin-bottom: 15px;
    letter-spacing: 1.3px;
  }
  /* line 715, ../../src/stylesheets/style.scss */
  .blocReservez .blocReservezLeft p {
    font-size: 13px;
    letter-spacing: 1.3px;
    margin-bottom: 30px;
  }
  /* line 723, ../../src/stylesheets/style.scss */
  .blocReservez .blocReservezRight {
    height: 480px;
  }
  /* line 725, ../../src/stylesheets/style.scss */
  .blocReservez .blocReservezRight .btn-reservez {
    bottom: 100px;
    left: 170px;
    width: 170px;
    height: 48px;
    font-size: 15px;
  }

  /*end blocReservez*/
  /* line 737, ../../src/stylesheets/style.scss */
  .blocNousChoisir {
    padding: 70px 0;
  }
  /* line 740, ../../src/stylesheets/style.scss */
  .blocNousChoisir .blocNousChoisirLeft {
    background: url('../images/blocNousChoisirLeft.png') left center no-repeat;
    -moz-background-size: contain;
    -o-background-size: contain;
    -webkit-background-size: contain;
    background-size: contain;
    height: 550px;
  }
  /* line 746, ../../src/stylesheets/style.scss */
  .blocNousChoisir .blocNousChoisirRight {
    height: 550px;
  }
  /* line 748, ../../src/stylesheets/style.scss */
  .blocNousChoisir .blocNousChoisirRight h2 {
    font-size: 40px;
    margin-bottom: 60px;
    letter-spacing: 1.3px;
  }
  /* line 753, ../../src/stylesheets/style.scss */
  .blocNousChoisir .blocNousChoisirRight h3 {
    font-size: 22px;
    margin-bottom: 25px;
  }
  /* line 757, ../../src/stylesheets/style.scss */
  .blocNousChoisir .blocNousChoisirRight p {
    font-size: 16px;
  }
  /* line 760, ../../src/stylesheets/style.scss */
  .blocNousChoisir .blocNousChoisirRight .paraOdd, .blocNousChoisir .blocNousChoisirRight .paraEven {
    padding: 30px 25px;
    max-width: 800px;
  }

  /*blocNousChoisir*/
  /* line 769, ../../src/stylesheets/style.scss */
  .blocFormulaire {
    overflow: hidden;
    background: linear-gradient(to right, #eb9000, #eb9000 50%, #ffffff 50.01%, #ffffff 100%);
  }
  /* line 773, ../../src/stylesheets/style.scss */
  .blocFormulaire .blocFormulaireLeft {
    padding-top: 219px;
    padding-bottom: 361px;
    font-family: 'Roboto Condensed', sans-serif;
  }
  /* line 777, ../../src/stylesheets/style.scss */
  .blocFormulaire .blocFormulaireLeft h2 {
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 50px;
    font-size: 42px;
    font-weight: 700;
    text-transform: uppercase;
    max-width: 500px;
  }
  /* line 785, ../../src/stylesheets/style.scss */
  .blocFormulaire .blocFormulaireLeft p {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    font-style: italic;
    max-width: 500px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
  }
  /* line 794, ../../src/stylesheets/style.scss */
  .blocFormulaire .blocFormulaireRight {
    margin-top: 120px;
    padding-left: 70px;
  }
  /* line 797, ../../src/stylesheets/style.scss */
  .blocFormulaire .blocFormulaireRight label {
    font-size: 20px;
  }
  /* line 800, ../../src/stylesheets/style.scss */
  .blocFormulaire .blocFormulaireRight input {
    margin-bottom: 60px;
  }
  /* line 803, ../../src/stylesheets/style.scss */
  .blocFormulaire .blocFormulaireRight button.btn-envoyer {
    width: 180px;
    height: 52px;
  }

  /*blocFormulaire*/
  /* line 811, ../../src/stylesheets/style.scss */
  #footer {
    margin-top: 120px;
    /*subFooter*/
  }
  /* line 813, ../../src/stylesheets/style.scss */
  #footer .subFooter {
    margin-bottom: 100px;
  }
  /* line 815, ../../src/stylesheets/style.scss */
  #footer .subFooter h3 {
    font-size: 20px;
    margin-bottom: 35px;
  }
  /* line 820, ../../src/stylesheets/style.scss */
  #footer .subFooter ul li {
    margin-bottom: 25px;
    font-size: 14px;
  }
  /* line 827, ../../src/stylesheets/style.scss */
  #footer .socialIcons {
    margin-bottom: 80px;
  }
  /* line 831, ../../src/stylesheets/style.scss */
  #footer .footerLinks {
    margin-bottom: 35px;
  }
  /* line 834, ../../src/stylesheets/style.scss */
  #footer .footerLinks li a {
    font-size: 16px;
  }

  /*footer*/
}
/*1440px*/
@media (max-width: 1199px) {
  /* line 851, ../../src/stylesheets/style.scss */
  .header .navbar-right li a {
    font-size: 14px;
  }

  /*header end */
  /* line 857, ../../src/stylesheets/style.scss */
  .mainSlider {
    /*carousel end*/
  }
  /* line 861, ../../src/stylesheets/style.scss */
  .mainSlider .carousel .carousel-inner .carousel-caption {
    top: 85px;
  }
  /* line 863, ../../src/stylesheets/style.scss */
  .mainSlider .carousel .carousel-inner .carousel-caption p {
    font-size: 64px;
    letter-spacing: 1.4px;
  }
  /* line 869, ../../src/stylesheets/style.scss */
  .mainSlider .carousel .carousel-indicators {
    width: 19%;
    top: 180px;
    right: 0%;
  }
  /* line 873, ../../src/stylesheets/style.scss */
  .mainSlider .carousel .carousel-indicators li {
    margin-right: 20px;
  }

  /*mainSlider end*/
  /* line 884, ../../src/stylesheets/style.scss */
  .formBooking {
    margin-bottom: 0px;
    top: -180px;
    width: 85%;
    padding: 15px 30px;
  }
  /* line 890, ../../src/stylesheets/style.scss */
  .formBooking div.row:first-child {
    margin-bottom: 30px;
  }
  /* line 893, ../../src/stylesheets/style.scss */
  .formBooking h2 {
    font-size: 20px;
    /*22*/
    padding-bottom: 20px;
    margin-bottom: 25px;
  }
  /* line 898, ../../src/stylesheets/style.scss */
  .formBooking .btn-reservez {
    width: 190px;
    height: 48px;
  }

  /*formBooking*/
  /* line 906, ../../src/stylesheets/style.scss */
  .brusselLimoPara {
    margin-bottom: 30px;
  }
  /* line 909, ../../src/stylesheets/style.scss */
  .brusselLimoPara .brusselLimoParaLeft h2 {
    font-size: 35px;
    margin-bottom: 27px;
  }
  /* line 913, ../../src/stylesheets/style.scss */
  .brusselLimoPara .brusselLimoParaLeft p {
    font-size: 20px;
    margin-bottom: 25px;
  }
  /* line 917, ../../src/stylesheets/style.scss */
  .brusselLimoPara .brusselLimoParaLeft .btnSavoirPlus {
    width: 180px;
    height: 48px;
  }
  /* line 923, ../../src/stylesheets/style.scss */
  .brusselLimoPara .brusselLimoParaRight img {
    margin-top: 30%;
  }

  /*brusselLimoPara*/
  /* line 929, ../../src/stylesheets/style.scss */
  .rotateslider-container {
    width: 100%;
    height: 450px;
  }

  /* line 934, ../../src/stylesheets/style.scss */
  .brusselLimoSlider {
    padding: 30px 0 60px 0;
    margin-bottom: 50px;
  }
  /* line 937, ../../src/stylesheets/style.scss */
  .brusselLimoSlider h2 {
    font-size: 35px;
    margin-bottom: 40px;
  }

  /*brusselLimoSlider end*/
  /* line 945, ../../src/stylesheets/style.scss */
  .blocReservez .blocReservezLeft {
    height: 480px;
  }
  /* line 947, ../../src/stylesheets/style.scss */
  .blocReservez .blocReservezLeft h3 {
    font-size: 15px;
    margin-bottom: 12px;
    letter-spacing: 1.1px;
  }
  /* line 952, ../../src/stylesheets/style.scss */
  .blocReservez .blocReservezLeft p {
    font-size: 12px;
    letter-spacing: 1.1px;
    margin-bottom: 20px;
  }
  /* line 960, ../../src/stylesheets/style.scss */
  .blocReservez .blocReservezRight {
    height: 480px;
  }
  /* line 962, ../../src/stylesheets/style.scss */
  .blocReservez .blocReservezRight .btn-reservez {
    bottom: 100px;
    left: 170px;
    width: 170px;
    height: 48px;
    font-size: 15px;
  }

  /*end blocReservez*/
  /* line 974, ../../src/stylesheets/style.scss */
  .blocNousChoisir {
    padding: 40px 0;
  }
  /* line 977, ../../src/stylesheets/style.scss */
  .blocNousChoisir .blocNousChoisirLeft {
    height: 500px;
    background-size: 80%;
  }
  /* line 982, ../../src/stylesheets/style.scss */
  .blocNousChoisir .blocNousChoisirRight {
    height: 500px;
  }
  /* line 984, ../../src/stylesheets/style.scss */
  .blocNousChoisir .blocNousChoisirRight h2 {
    font-size: 37px;
    margin-bottom: 40px;
    letter-spacing: 1.1px;
  }
  /* line 989, ../../src/stylesheets/style.scss */
  .blocNousChoisir .blocNousChoisirRight h3 {
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: 0px;
  }
  /* line 994, ../../src/stylesheets/style.scss */
  .blocNousChoisir .blocNousChoisirRight p {
    font-size: 14px;
  }
  /* line 997, ../../src/stylesheets/style.scss */
  .blocNousChoisir .blocNousChoisirRight .paraOdd, .blocNousChoisir .blocNousChoisirRight .paraEven {
    padding: 25px 20px;
    max-width: 800px;
  }

  /*blocNousChoisir*/
  /* line 1006, ../../src/stylesheets/style.scss */
  .blocFormulaire {
    overflow: hidden;
    background: linear-gradient(to right, #eb9000, #eb9000 50%, #ffffff 50.01%, #ffffff 100%);
  }
  /* line 1010, ../../src/stylesheets/style.scss */
  .blocFormulaire .blocFormulaireLeft {
    padding-top: 150px;
    padding-bottom: 250px;
    font-family: 'Roboto Condensed', sans-serif;
  }
  /* line 1014, ../../src/stylesheets/style.scss */
  .blocFormulaire .blocFormulaireLeft h2 {
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 25px;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    max-width: 500px;
  }
  /* line 1022, ../../src/stylesheets/style.scss */
  .blocFormulaire .blocFormulaireLeft p {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    font-style: italic;
    max-width: 390px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
  }
  /* line 1031, ../../src/stylesheets/style.scss */
  .blocFormulaire .blocFormulaireRight {
    margin-top: 70px;
    padding-left: 30px;
  }
  /* line 1034, ../../src/stylesheets/style.scss */
  .blocFormulaire .blocFormulaireRight label {
    font-size: 18px;
  }
  /* line 1037, ../../src/stylesheets/style.scss */
  .blocFormulaire .blocFormulaireRight input {
    margin-bottom: 40px;
  }
  /* line 1040, ../../src/stylesheets/style.scss */
  .blocFormulaire .blocFormulaireRight button.btn-envoyer {
    width: 180px;
    height: 52px;
  }

  /*blocFormulaire*/
  /* line 1048, ../../src/stylesheets/style.scss */
  #footer {
    margin-top: 90px;
    /*subFooter*/
  }
  /* line 1050, ../../src/stylesheets/style.scss */
  #footer .subFooter {
    margin-bottom: 80px;
  }
  /* line 1052, ../../src/stylesheets/style.scss */
  #footer .subFooter h3 {
    font-size: 18px;
    margin-bottom: 27px;
  }
  /* line 1057, ../../src/stylesheets/style.scss */
  #footer .subFooter ul li {
    margin-bottom: 20px;
    font-size: 13px;
  }
  /* line 1064, ../../src/stylesheets/style.scss */
  #footer .socialIcons {
    margin-bottom: 60px;
  }
  /* line 1068, ../../src/stylesheets/style.scss */
  #footer .footerLinks {
    margin-bottom: 35px;
  }
  /* line 1071, ../../src/stylesheets/style.scss */
  #footer .footerLinks li a {
    font-size: 14px;
  }

  /*footer*/
}
/*1199*/
@media (max-width: 991px) {
  /* line 1089, ../../src/stylesheets/style.scss */
  .header .navbar-header {
    margin-top: 5px;
    float: none;
  }
  /* line 1092, ../../src/stylesheets/style.scss */
  .header .navbar-header a.logo {
    text-align: center;
    display: block;
  }
  /* line 1098, ../../src/stylesheets/style.scss */
  .header .navbar-right {
    margin-top: 0px;
  }
  /* line 1101, ../../src/stylesheets/style.scss */
  .header .navbar-right li a {
    font-size: 12px;
  }

  /*header end */
  /* line 1111, ../../src/stylesheets/style.scss */
  .mainSlider {
    /*carousel end*/
  }
  /* line 1115, ../../src/stylesheets/style.scss */
  .mainSlider .carousel .carousel-inner .carousel-caption {
    top: 85px;
    right: 13%;
    left: 13%;
  }
  /* line 1120, ../../src/stylesheets/style.scss */
  .mainSlider .carousel .carousel-inner .carousel-caption p {
    font-size: 58px;
    letter-spacing: 1.2px;
  }
  /* line 1126, ../../src/stylesheets/style.scss */
  .mainSlider .carousel .carousel-indicators {
    width: 19%;
    top: 180px;
    right: 0%;
  }
  /* line 1130, ../../src/stylesheets/style.scss */
  .mainSlider .carousel .carousel-indicators li {
    margin-right: 20px;
  }

  /*mainSlider end*/
  /* line 1141, ../../src/stylesheets/style.scss */
  .formBooking {
    margin-bottom: 0px;
    top: -135px;
    width: 90%;
    padding: 15px 30px;
  }
  /* line 1147, ../../src/stylesheets/style.scss */
  .formBooking ::placeholder {
    font-size: 12px;
    color: #555;
  }
  /* line 1148, ../../src/stylesheets/style.scss */
  .formBooking :-ms-input-placeholder {
    font-size: 12px;
    color: #555;
  }
  /* line 1149, ../../src/stylesheets/style.scss */
  .formBooking ::-ms-input-placeholder {
    font-size: 12px;
    color: #555;
  }
  /* line 1150, ../../src/stylesheets/style.scss */
  .formBooking select, .formBooking input {
    font-size: 12px;
  }
  /* line 1154, ../../src/stylesheets/style.scss */
  .formBooking .dateDebut {
    background: url('../images/iconDate.jpg') right 5px center no-repeat;
  }
  /* line 1157, ../../src/stylesheets/style.scss */
  .formBooking .iconName {
    background: url('../images/iconName.jpg') right 5px center no-repeat;
  }
  /* line 1160, ../../src/stylesheets/style.scss */
  .formBooking .emailBooking {
    background: url('../images/iconEmail.jpg') right 5px center no-repeat;
  }
  /* line 1164, ../../src/stylesheets/style.scss */
  .formBooking div.row:first-child {
    margin-bottom: 30px;
  }
  /* line 1167, ../../src/stylesheets/style.scss */
  .formBooking h2 {
    font-size: 18px;
    padding-bottom: 10px;
    margin-bottom: 21px;
  }
  /* line 1172, ../../src/stylesheets/style.scss */
  .formBooking .btn-reservez {
    font-size: 14px;
    width: 143px;
    height: 48px;
    padding: 11px 30px;
  }

  /*formBooking*/
  /* line 1182, ../../src/stylesheets/style.scss */
  .brusselLimoPara {
    margin-bottom: 0px;
  }
  /* line 1185, ../../src/stylesheets/style.scss */
  .brusselLimoPara .brusselLimoParaLeft h2 {
    font-size: 31px;
    margin-bottom: 27px;
    margin-top: 0;
  }
  /* line 1190, ../../src/stylesheets/style.scss */
  .brusselLimoPara .brusselLimoParaLeft p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  /* line 1194, ../../src/stylesheets/style.scss */
  .brusselLimoPara .brusselLimoParaLeft .btnSavoirPlus {
    width: 180px;
    height: 48px;
  }
  /* line 1200, ../../src/stylesheets/style.scss */
  .brusselLimoPara .brusselLimoParaRight img {
    margin-top: 0%;
  }

  /*brusselLimoPara*/
  /* line 1206, ../../src/stylesheets/style.scss */
  .brusselLimoSlider {
    padding: 10px 0 60px 0;
    margin-bottom: 30px;
  }
  /* line 1209, ../../src/stylesheets/style.scss */
  .brusselLimoSlider h2 {
    font-size: 29px;
    margin-bottom: 40px;
  }

  /*brusselLimoSlider end*/
  /* line 1218, ../../src/stylesheets/style.scss */
  .blocReservez .blocReservezLeft {
    height: 480px;
  }
  /* line 1220, ../../src/stylesheets/style.scss */
  .blocReservez .blocReservezLeft h3 {
    font-size: 15px;
    margin-bottom: 12px;
    letter-spacing: 1.1px;
  }
  /* line 1225, ../../src/stylesheets/style.scss */
  .blocReservez .blocReservezLeft p {
    font-size: 12px;
    letter-spacing: 1.1px;
    margin-bottom: 20px;
  }
  /* line 1233, ../../src/stylesheets/style.scss */
  .blocReservez .blocReservezRight {
    height: 480px;
  }
  /* line 1235, ../../src/stylesheets/style.scss */
  .blocReservez .blocReservezRight .btn-reservez {
    bottom: 100px;
    left: 170px;
    width: 138px;
    height: 41px;
    font-size: 15px;
    padding: 14px 25px;
  }

  /*end blocReservez*/
  /* line 1249, ../../src/stylesheets/style.scss */
  .blocNousChoisir {
    padding: 20px 0;
  }
  /* line 1252, ../../src/stylesheets/style.scss */
  .blocNousChoisir .blocNousChoisirLeft {
    height: 500px;
    background-size: 80%;
  }
  /* line 1257, ../../src/stylesheets/style.scss */
  .blocNousChoisir .blocNousChoisirRight {
    height: 500px;
  }
  /* line 1259, ../../src/stylesheets/style.scss */
  .blocNousChoisir .blocNousChoisirRight h2 {
    font-size: 35px;
    margin-bottom: 18px;
    letter-spacing: 1.1px;
  }
  /* line 1264, ../../src/stylesheets/style.scss */
  .blocNousChoisir .blocNousChoisirRight h3 {
    font-size: 18px;
    margin-bottom: 13px;
    margin-top: 0px;
  }
  /* line 1269, ../../src/stylesheets/style.scss */
  .blocNousChoisir .blocNousChoisirRight p {
    font-size: 13px;
  }
  /* line 1272, ../../src/stylesheets/style.scss */
  .blocNousChoisir .blocNousChoisirRight .paraOdd, .blocNousChoisir .blocNousChoisirRight .paraEven {
    padding: 20px 15px;
    max-width: 800px;
  }

  /*blocNousChoisir*/
  /* line 1281, ../../src/stylesheets/style.scss */
  .blocFormulaire {
    overflow: hidden;
    background: linear-gradient(to right, #eb9000, #eb9000 50%, #ffffff 50.01%, #ffffff 100%);
  }
  /* line 1285, ../../src/stylesheets/style.scss */
  .blocFormulaire .blocFormulaireLeft {
    padding-top: 100px;
    padding-bottom: 150px;
    font-family: 'Roboto Condensed', sans-serif;
  }
  /* line 1289, ../../src/stylesheets/style.scss */
  .blocFormulaire .blocFormulaireLeft h2 {
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 19px;
    font-size: 34px;
    font-weight: 700;
    text-transform: uppercase;
    max-width: 500px;
  }
  /* line 1297, ../../src/stylesheets/style.scss */
  .blocFormulaire .blocFormulaireLeft p {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 13px;
    font-style: italic;
    max-width: 390px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
  }
  /* line 1306, ../../src/stylesheets/style.scss */
  .blocFormulaire .blocFormulaireRight {
    margin-top: 50px;
    padding-left: 30px;
  }
  /* line 1309, ../../src/stylesheets/style.scss */
  .blocFormulaire .blocFormulaireRight label {
    font-size: 18px;
  }
  /* line 1312, ../../src/stylesheets/style.scss */
  .blocFormulaire .blocFormulaireRight input {
    margin-bottom: 30px;
  }
  /* line 1315, ../../src/stylesheets/style.scss */
  .blocFormulaire .blocFormulaireRight button.btn-envoyer {
    width: 170px;
    height: 46px;
    padding: 12px 25px;
  }

  /*blocFormulaire*/
  /* line 1323, ../../src/stylesheets/style.scss */
  #footer {
    text-align: center;
    margin-top: 90px;
    /*subFooter*/
  }
  /* line 1326, ../../src/stylesheets/style.scss */
  #footer .subFooter {
    margin-bottom: 80px;
  }
  /* line 1328, ../../src/stylesheets/style.scss */
  #footer .subFooter h3 {
    font-size: 18px;
    margin-bottom: 27px;
  }
  /* line 1333, ../../src/stylesheets/style.scss */
  #footer .subFooter ul li {
    margin-bottom: 20px;
    font-size: 13px;
  }
  /* line 1340, ../../src/stylesheets/style.scss */
  #footer .socialIcons {
    text-align: center;
    margin-bottom: 50px;
  }
  /* line 1345, ../../src/stylesheets/style.scss */
  #footer .footerLinks {
    text-align: center;
    margin-bottom: 35px;
  }
  /* line 1349, ../../src/stylesheets/style.scss */
  #footer .footerLinks li a {
    font-size: 12px;
  }

  /*footer*/
}
/*991*/
@media (max-width: 768px) {
  /* line 1366, ../../src/stylesheets/style.scss */
  .header .navbar-right {
    text-align: center;
    margin-top: 0px;
  }
  /* line 1370, ../../src/stylesheets/style.scss */
  .header .navbar-right li a {
    font-size: 16px;
  }

  /*header end */
  /* line 1379, ../../src/stylesheets/style.scss */
  .mainSlider {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    /*carousel end*/
  }
  /* line 1385, ../../src/stylesheets/style.scss */
  .mainSlider .carousel .carousel-inner .carousel-caption {
    top: 85px;
    right: 13%;
    left: 13%;
  }
  /* line 1390, ../../src/stylesheets/style.scss */
  .mainSlider .carousel .carousel-inner .carousel-caption p {
    font-size: 45px;
    letter-spacing: 1.2px;
  }
  /* line 1396, ../../src/stylesheets/style.scss */
  .mainSlider .carousel .carousel-indicators {
    width: 18%;
    top: 155px;
    right: 0%;
  }
  /* line 1400, ../../src/stylesheets/style.scss */
  .mainSlider .carousel .carousel-indicators li {
    margin-right: 15px;
  }

  /*mainSlider end*/
  /* line 1412, ../../src/stylesheets/style.scss */
  .formBooking {
    top: 0px;
    width: 100%;
    padding: 15px 30px;
    margin: 20px auto;
  }
  /* line 1418, ../../src/stylesheets/style.scss */
  .formBooking ::placeholder {
    font-size: 16px;
    color: #555;
  }
  /* line 1419, ../../src/stylesheets/style.scss */
  .formBooking :-ms-input-placeholder {
    font-size: 16px;
    color: #555;
  }
  /* line 1420, ../../src/stylesheets/style.scss */
  .formBooking ::-ms-input-placeholder {
    font-size: 16px;
    color: #555;
  }
  /* line 1421, ../../src/stylesheets/style.scss */
  .formBooking select, .formBooking input {
    font-size: 16px;
    margin-bottom: 10px;
  }
  /* line 1426, ../../src/stylesheets/style.scss */
  .formBooking .dateDebut {
    background: url('../images/iconDate.jpg') right 15px center no-repeat;
  }
  /* line 1429, ../../src/stylesheets/style.scss */
  .formBooking .iconName {
    background: url('../images/iconName.jpg') right 15px center no-repeat;
  }
  /* line 1432, ../../src/stylesheets/style.scss */
  .formBooking .emailBooking {
    background: url('../images/iconEmail.jpg') right 15px center no-repeat;
  }
  /* line 1436, ../../src/stylesheets/style.scss */
  .formBooking div.row:first-child {
    margin-bottom: 10px;
  }
  /* line 1439, ../../src/stylesheets/style.scss */
  .formBooking h2 {
    font-size: 20px;
    padding-bottom: 13px;
    margin-bottom: 21px;
  }
  /* line 1444, ../../src/stylesheets/style.scss */
  .formBooking .rowBtn {
    text-align: center;
  }
  /* line 1447, ../../src/stylesheets/style.scss */
  .formBooking .btn-reservez {
    margin-top: 20px;
    font-size: 14px;
    width: 150px;
    height: 48px;
    padding: 11px 30px;
  }

  /*formBooking*/
  /* line 1459, ../../src/stylesheets/style.scss */
  .brusselLimoPara .brusselLimoParaLeft h2 {
    font-size: 28px;
    margin-bottom: 22px;
    margin-top: 0;
  }
  /* line 1464, ../../src/stylesheets/style.scss */
  .brusselLimoPara .brusselLimoParaLeft p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  /* line 1468, ../../src/stylesheets/style.scss */
  .brusselLimoPara .brusselLimoParaLeft .btnSavoirPlus {
    width: 160px;
    height: 40px;
    font-size: 14px;
    padding: 12px 19px;
  }
  /* line 1476, ../../src/stylesheets/style.scss */
  .brusselLimoPara .brusselLimoParaRight img {
    margin-top: 0%;
  }

  /*brusselLimoPara*/
  /* line 1482, ../../src/stylesheets/style.scss */
  .brusselLimoSlider {
    padding: 10px 0 60px 0;
    margin-bottom: 30px;
  }
  /* line 1485, ../../src/stylesheets/style.scss */
  .brusselLimoSlider h2 {
    font-size: 25px;
    margin-bottom: 30px;
  }
  /* line 1489, ../../src/stylesheets/style.scss */
  .brusselLimoSlider img {
    width: 90%;
    height: 90%;
  }
  /* line 1494, ../../src/stylesheets/style.scss */
  .brusselLimoSlider .rotateslider-container .caption {
    width: 220px;
    height: 290px;
    margin-left: -110px;
    font-size: 13px;
    letter-spacing: 2.3px;
  }

  /*brusselLimoSlider end*/
  /* line 1508, ../../src/stylesheets/style.scss */
  .blocReservez .blocReservezLeft {
    height: 430px;
  }
  /* line 1510, ../../src/stylesheets/style.scss */
  .blocReservez .blocReservezLeft h3 {
    font-size: 16px;
    margin-bottom: 14px;
    letter-spacing: 1.3px;
  }
  /* line 1515, ../../src/stylesheets/style.scss */
  .blocReservez .blocReservezLeft p {
    font-size: 14px;
    letter-spacing: 1.3px;
    margin-bottom: 25px;
  }
  /* line 1523, ../../src/stylesheets/style.scss */
  .blocReservez .blocReservezRight {
    height: 430px;
  }
  /* line 1525, ../../src/stylesheets/style.scss */
  .blocReservez .blocReservezRight .btn-reservez {
    bottom: 150px;
    left: 50px;
    width: 150px;
    height: 45px;
    font-size: 16px;
    padding: 16px 25px;
  }

  /*end blocReservez*/
  /* line 1537, ../../src/stylesheets/style.scss */
  .blocNousChoisir {
    padding: 20px 0;
  }
  /* line 1540, ../../src/stylesheets/style.scss */
  .blocNousChoisir .blocNousChoisirLeft {
    height: 400px;
    background-size: 80%;
    background: url('../images/blocNousChoisirLeft.png') left center no-repeat;
    -moz-background-size: contain;
    -o-background-size: contain;
    -webkit-background-size: contain;
    background-size: contain;
  }
  /* line 1547, ../../src/stylesheets/style.scss */
  .blocNousChoisir .blocNousChoisirRight {
    height: 400px;
  }
  /* line 1549, ../../src/stylesheets/style.scss */
  .blocNousChoisir .blocNousChoisirRight h2 {
    font-size: 33px;
    margin-top: 20px;
    margin-bottom: 18px;
    letter-spacing: 1.3px;
  }
  /* line 1555, ../../src/stylesheets/style.scss */
  .blocNousChoisir .blocNousChoisirRight h3 {
    font-size: 20px;
    margin-bottom: 13px;
    margin-top: 0px;
  }
  /* line 1560, ../../src/stylesheets/style.scss */
  .blocNousChoisir .blocNousChoisirRight p {
    font-size: 14px;
  }
  /* line 1563, ../../src/stylesheets/style.scss */
  .blocNousChoisir .blocNousChoisirRight .paraOdd, .blocNousChoisir .blocNousChoisirRight .paraEven {
    padding: 20px 15px;
  }

  /*blocNousChoisir*/
  /* line 1571, ../../src/stylesheets/style.scss */
  .blocFormulaire {
    overflow: hidden;
    background: linear-gradient(to bottom, #eb9000, #eb9000 50%, #ffffff 50.01%, #ffffff 100%);
  }
  /* line 1575, ../../src/stylesheets/style.scss */
  .blocFormulaire .blocFormulaireLeft {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  /* line 1578, ../../src/stylesheets/style.scss */
  .blocFormulaire .blocFormulaireLeft h2 {
    margin-bottom: 23px;
    font-size: 40px;
  }
  /* line 1582, ../../src/stylesheets/style.scss */
  .blocFormulaire .blocFormulaireLeft p {
    font-size: 16px;
    max-width: 390px;
    letter-spacing: 1.3px;
  }
  /* line 1588, ../../src/stylesheets/style.scss */
  .blocFormulaire .blocFormulaireRight {
    margin-top: 50px;
    padding-left: 30px;
  }
  /* line 1591, ../../src/stylesheets/style.scss */
  .blocFormulaire .blocFormulaireRight label {
    font-size: 18px;
  }
  /* line 1594, ../../src/stylesheets/style.scss */
  .blocFormulaire .blocFormulaireRight input {
    margin-bottom: 30px;
  }
  /* line 1597, ../../src/stylesheets/style.scss */
  .blocFormulaire .blocFormulaireRight button.btn-envoyer {
    width: 170px;
    height: 46px;
    padding: 12px 25px;
  }

  /*blocFormulaire*/
  /* line 1606, ../../src/stylesheets/style.scss */
  #footer {
    text-align: center;
    margin-top: 90px;
    /*subFooter*/
  }
  /* line 1609, ../../src/stylesheets/style.scss */
  #footer .subFooter {
    text-align: center;
    margin-bottom: 40px;
  }
  /* line 1612, ../../src/stylesheets/style.scss */
  #footer .subFooter h3 {
    font-size: 20px;
    margin-bottom: 27px;
  }
  /* line 1617, ../../src/stylesheets/style.scss */
  #footer .subFooter ul li {
    margin-bottom: 20px;
    font-size: 15px;
  }
  /* line 1624, ../../src/stylesheets/style.scss */
  #footer .socialIcons {
    text-align: center;
    margin-bottom: 50px;
  }
  /* line 1629, ../../src/stylesheets/style.scss */
  #footer .footerLinks {
    text-align: center;
    margin-bottom: 35px;
  }
  /* line 1633, ../../src/stylesheets/style.scss */
  #footer .footerLinks li a {
    font-size: 12px;
  }

  /*footer*/
}
/*768*/
@media (max-width: 650px) {
  /* line 1650, ../../src/stylesheets/style.scss */
  .mainSlider {
    /*carousel end*/
  }
  /* line 1654, ../../src/stylesheets/style.scss */
  .mainSlider .carousel .carousel-inner .carousel-caption {
    top: 48px;
    right: 8%;
    left: 8%;
  }
  /* line 1659, ../../src/stylesheets/style.scss */
  .mainSlider .carousel .carousel-inner .carousel-caption p {
    font-size: 33px;
    letter-spacing: 1px;
  }
  /* line 1665, ../../src/stylesheets/style.scss */
  .mainSlider .carousel .carousel-indicators {
    top: auto;
    right: auto;
    transform: none;
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 15;
    width: 60%;
    margin-left: -30%;
    padding-left: 0;
    list-style: none;
    text-align: center;
  }
  /* line 1679, ../../src/stylesheets/style.scss */
  .mainSlider .carousel .carousel-indicators li {
    margin-right: 25px;
  }

  /*mainSlider end*/
}
@media (max-width: 425px) {
  /* line 1694, ../../src/stylesheets/style.scss */
  .mainSlider {
    /*carousel end*/
  }
  /* line 1698, ../../src/stylesheets/style.scss */
  .mainSlider .carousel .carousel-inner .carousel-caption {
    top: 70px;
    right: 13%;
    left: 13%;
  }
  /* line 1703, ../../src/stylesheets/style.scss */
  .mainSlider .carousel .carousel-inner .carousel-caption p {
    font-size: 19px;
    letter-spacing: 1.2px;
  }
  /* line 1709, ../../src/stylesheets/style.scss */
  .mainSlider .carousel .carousel-indicators {
    width: 50%;
    top: 97px;
    right: 0%;
  }
  /* line 1713, ../../src/stylesheets/style.scss */
  .mainSlider .carousel .carousel-indicators li {
    margin-right: 15px;
  }

  /*mainSlider end*/
  /* line 1724, ../../src/stylesheets/style.scss */
  .formBooking {
    padding: 15px 30px;
    margin: 20px auto;
  }
  /* line 1728, ../../src/stylesheets/style.scss */
  .formBooking ::placeholder {
    font-size: 16px;
    color: #555;
  }
  /* line 1729, ../../src/stylesheets/style.scss */
  .formBooking :-ms-input-placeholder {
    font-size: 16px;
    color: #555;
  }
  /* line 1730, ../../src/stylesheets/style.scss */
  .formBooking ::-ms-input-placeholder {
    font-size: 16px;
    color: #555;
  }
  /* line 1731, ../../src/stylesheets/style.scss */
  .formBooking select, .formBooking input {
    font-size: 16px;
    margin-bottom: 10px;
  }
  /* line 1736, ../../src/stylesheets/style.scss */
  .formBooking div.row:first-child {
    margin-bottom: 10px;
  }
  /* line 1739, ../../src/stylesheets/style.scss */
  .formBooking h2 {
    font-size: 20px;
    padding-bottom: 13px;
    margin-bottom: 21px;
    margin-top: 0px;
  }
  /* line 1745, ../../src/stylesheets/style.scss */
  .formBooking .rowBtn {
    text-align: center;
  }
  /* line 1748, ../../src/stylesheets/style.scss */
  .formBooking .btn-reservez {
    margin-top: 20px;
    font-size: 14px;
    width: 170px;
    height: 48px;
    padding: 11px 30px;
  }

  /*formBooking*/
  /* line 1761, ../../src/stylesheets/style.scss */
  .brusselLimoPara .brusselLimoParaLeft h2 {
    font-size: 25px;
    margin-bottom: 16px;
    margin-top: 0;
  }
  /* line 1766, ../../src/stylesheets/style.scss */
  .brusselLimoPara .brusselLimoParaLeft p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  /* line 1770, ../../src/stylesheets/style.scss */
  .brusselLimoPara .brusselLimoParaLeft .btnSavoirPlus {
    width: 160px;
    height: 45px;
    font-size: 13px;
    padding: 12px 19px;
  }
  /* line 1778, ../../src/stylesheets/style.scss */
  .brusselLimoPara .brusselLimoParaRight img {
    margin-top: 0%;
  }

  /*brusselLimoPara*/
  /* line 1785, ../../src/stylesheets/style.scss */
  .brusselLimoSlider {
    padding: 10px 0 60px 0;
    margin-bottom: 30px;
  }
  /* line 1788, ../../src/stylesheets/style.scss */
  .brusselLimoSlider h2 {
    font-size: 23px;
    margin-bottom: 16px;
  }
  /* line 1792, ../../src/stylesheets/style.scss */
  .brusselLimoSlider img {
    width: 100%;
    height: 100%;
  }
  /* line 1796, ../../src/stylesheets/style.scss */
  .brusselLimoSlider .rotateslider-container {
    height: 260px;
  }
  /* line 1798, ../../src/stylesheets/style.scss */
  .brusselLimoSlider .rotateslider-container .caption {
    width: 165px;
    height: 227px;
    margin-left: -80px;
    font-size: 11px;
    letter-spacing: 1.5px;
  }
  /* line 1806, ../../src/stylesheets/style.scss */
  .brusselLimoSlider .rotateslider-container .arrow.left {
    left: 30%;
  }
  /* line 1809, ../../src/stylesheets/style.scss */
  .brusselLimoSlider .rotateslider-container .arrow.right {
    right: 30%;
  }

  /*brusselLimoSlider end*/
  /* line 1820, ../../src/stylesheets/style.scss */
  .blocReservez .blocReservezLeft {
    height: 430px;
  }
  /* line 1822, ../../src/stylesheets/style.scss */
  .blocReservez .blocReservezLeft h3 {
    font-size: 16px;
    margin-bottom: 14px;
    letter-spacing: 1.3px;
  }
  /* line 1827, ../../src/stylesheets/style.scss */
  .blocReservez .blocReservezLeft p {
    font-size: 14px;
    letter-spacing: 1.3px;
    margin-bottom: 25px;
  }
  /* line 1835, ../../src/stylesheets/style.scss */
  .blocReservez .blocReservezRight {
    height: 430px;
  }
  /* line 1837, ../../src/stylesheets/style.scss */
  .blocReservez .blocReservezRight .btn-reservez {
    bottom: 150px;
    left: 50px;
    width: 150px;
    height: 45px;
    font-size: 16px;
    padding: 16px 25px;
  }

  /*end blocReservez*/
  /* line 1849, ../../src/stylesheets/style.scss */
  .blocNousChoisir {
    padding: 20px 0;
  }
  /* line 1852, ../../src/stylesheets/style.scss */
  .blocNousChoisir .blocNousChoisirLeft {
    height: 400px;
    background-size: 80%;
    background: url('../images/blocNousChoisirLeft.png') left center no-repeat;
    -moz-background-size: contain;
    -o-background-size: contain;
    -webkit-background-size: contain;
    background-size: contain;
  }
  /* line 1859, ../../src/stylesheets/style.scss */
  .blocNousChoisir .blocNousChoisirRight {
    height: 400px;
  }
  /* line 1861, ../../src/stylesheets/style.scss */
  .blocNousChoisir .blocNousChoisirRight h2 {
    font-size: 27px;
    margin-bottom: 10px;
  }
  /* line 1865, ../../src/stylesheets/style.scss */
  .blocNousChoisir .blocNousChoisirRight h3 {
    font-size: 18px;
    margin-bottom: 13px;
    margin-top: 0px;
  }
  /* line 1870, ../../src/stylesheets/style.scss */
  .blocNousChoisir .blocNousChoisirRight p {
    font-size: 13px;
  }
  /* line 1873, ../../src/stylesheets/style.scss */
  .blocNousChoisir .blocNousChoisirRight .paraOdd, .blocNousChoisir .blocNousChoisirRight .paraEven {
    padding: 15px 10px;
  }

  /*blocNousChoisir*/
  /* line 1882, ../../src/stylesheets/style.scss */
  .blocFormulaire .blocFormulaireLeft {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  /* line 1885, ../../src/stylesheets/style.scss */
  .blocFormulaire .blocFormulaireLeft h2 {
    margin-bottom: 20px;
    font-size: 30px;
  }
  /* line 1889, ../../src/stylesheets/style.scss */
  .blocFormulaire .blocFormulaireLeft p {
    font-size: 14px;
    max-width: 390px;
    letter-spacing: 1.4px;
  }
  /* line 1895, ../../src/stylesheets/style.scss */
  .blocFormulaire .blocFormulaireRight {
    margin-top: 50px;
    padding-left: 30px;
  }
  /* line 1898, ../../src/stylesheets/style.scss */
  .blocFormulaire .blocFormulaireRight label {
    font-size: 18px;
  }
  /* line 1901, ../../src/stylesheets/style.scss */
  .blocFormulaire .blocFormulaireRight input {
    margin-bottom: 30px;
  }
  /* line 1904, ../../src/stylesheets/style.scss */
  .blocFormulaire .blocFormulaireRight button.btn-envoyer {
    width: 170px;
    height: 46px;
    padding: 12px 25px;
  }

  /*blocFormulaire*/
  /* line 1913, ../../src/stylesheets/style.scss */
  #footer {
    border-top: 3px solid #eb9000;
  }

  /*footer*/
}
/**/
/*================================================
=============Descktop First END===================
=================================================*/
/*TWEAKS*/
@media (min-width: 1440px) {
  /* line 1934, ../../src/stylesheets/style.scss */
  .container {
    width: 1396px;
  }
}
/*@media (min-width: 1200px){
    .container {
        width: 1170px;
    }
}*/
