@font-face {
  font-family: 'open_sansregular';
  src: url("fonts/opensans-regular-webfont.eot");
  src: url("fonts/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/opensans-regular-webfont.woff2") format("woff2"), url("fonts/opensans-regular-webfont.woff") format("woff"), url("fonts/opensans-regular-webfont.ttf") format("truetype"), url("fonts/opensans-regular-webfont.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sanssemibold';
  src: url("fonts/opensans-semibold-webfont.eot");
  src: url("fonts/opensans-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/opensans-semibold-webfont.woff2") format("woff2"), url("fonts/opensans-semibold-webfont.woff") format("woff"), url("fonts/opensans-semibold-webfont.ttf") format("truetype"), url("fonts/opensans-semibold-webfont.svg#open_sanssemibold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserratregular';
  src: url("fonts/montserrat-regular-webfont.eot");
  src: url("fonts/montserrat-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/montserrat-regular-webfont.woff2") format("woff2"), url("fonts/montserrat-regular-webfont.woff") format("woff"), url("fonts/montserrat-regular-webfont.ttf") format("truetype"), url("fonts/montserrat-regular-webfont.svg#montserratregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 10, ../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 12, ../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/layout/_sticky-footer.scss */
#layout {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -62px;
}
/* line 18, ../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/layout/_sticky-footer.scss */
#layout #layout_footer {
  height: 62px;
}

/* line 20, ../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/layout/_sticky-footer.scss */
#footer {
  clear: both;
  position: relative;
  height: 62px;
}

/* line 50, ../../src/stylesheets/style.scss */
html, body {
  position: relative;
  min-height: 100%;
  width: 100%;
}

/* line 55, ../../src/stylesheets/style.scss */
body {
  /*@include background(image-url("bg.jpg") center center no-repeat #000707 );
  @include background-size(cover);*/
  color: #000000;
  font-family: 'open_sansregular', sans-serif;
}

/* line 64, ../../src/stylesheets/style.scss */
.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-30%);
  transform: translateY(-30%);
}

/* line 72, ../../src/stylesheets/style.scss */
.header {
  max-width: 1673px;
}
/* line 76, ../../src/stylesheets/style.scss */
.header .navbar-default {
  background-color: transparent;
  border-color: transparent;
}
/* line 80, ../../src/stylesheets/style.scss */
.header .navbar-default ul .active > a {
  color: #eb9000;
  background-color: transparent;
}
/* line 86, ../../src/stylesheets/style.scss */
.header .navbar-right {
  margin-top: 60px;
}
/* line 89, ../../src/stylesheets/style.scss */
.header .navbar-header {
  margin-top: 27px;
}
/* line 92, ../../src/stylesheets/style.scss */
.header .navbar-default .navbar-collapse, .header .navbar-default .navbar-form {
  border-color: transparent;
}
/* line 95, ../../src/stylesheets/style.scss */
.header .navbar-right li a {
  font-size: 16px;
}

/*header end */
/* line 101, ../../src/stylesheets/style.scss */
.mainSlider {
  border-bottom-left-radius: 29% 12%;
  border-bottom-right-radius: 29% 12%;
  overflow: hidden;
  position: relative;
  /*carousel end*/
}
/* line 108, ../../src/stylesheets/style.scss */
.mainSlider .carousel {
  position: relative;
}
/* line 110, ../../src/stylesheets/style.scss */
.mainSlider .carousel .carousel-inner {
  position: relative;
}
/* line 112, ../../src/stylesheets/style.scss */
.mainSlider .carousel .carousel-inner .carousel-caption {
  top: 100px;
}
/* line 114, ../../src/stylesheets/style.scss */
.mainSlider .carousel .carousel-inner .carousel-caption p {
  font-family: 'open_sanssemibold', sans-serif;
  text-transform: uppercase;
  font-size: 76.62px;
  letter-spacing: 3px;
}
/* line 119, ../../src/stylesheets/style.scss */
.mainSlider .carousel .carousel-inner .carousel-caption p span {
  color: #eb9000;
}
/* line 125, ../../src/stylesheets/style.scss */
.mainSlider .carousel .carousel-indicators {
  left: auto;
  width: 30%;
  top: 200px;
  right: 0%;
  transform: rotate(90deg);
  position: absolute;
  bottom: auto;
}
/* line 133, ../../src/stylesheets/style.scss */
.mainSlider .carousel .carousel-indicators li {
  background-color: #fff;
  margin-right: 10px;
  vertical-align: middle;
}
/* line 139, ../../src/stylesheets/style.scss */
.mainSlider .carousel .carousel-indicators .active {
  /*background-color: #eb9000;*/
  border: 1px solid transparent;
  background: url('../images/activeCarrousel.png') center center no-repeat transparent;
  width: 32px !important;
  height: 32px !important;
}

/*mainSlider end*/
/* line 159, ../../src/stylesheets/style.scss */
.formBooking {
  margin-bottom: 100px;
  margin: 0 auto;
  top: -250px;
  width: 80%;
  padding: 30px 40px;
  background: white;
  min-height: 288px;
  /*border: 1px solid red;*/
  position: relative;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  -webkit-box-shadow: 0px 21px 17px 5px rgba(233, 228, 254, 0.71);
  -moz-box-shadow: 0px 21px 17px 5px rgba(233, 228, 254, 0.71);
  box-shadow: 0px 21px 17px 5px rgba(233, 228, 254, 0.71);
}
/* line 175, ../../src/stylesheets/style.scss */
.formBooking div.row:first-child {
  margin-bottom: 30px;
}
/* line 178, ../../src/stylesheets/style.scss */
.formBooking h2 {
  font-size: 22px;
  text-transform: uppercase;
  color: #eb9000;
  padding-bottom: 22px;
  border-bottom: 3px solid #eb9000;
  display: inline-block;
  margin-bottom: 30px;
}
/* line 187, ../../src/stylesheets/style.scss */
.formBooking select, .formBooking input {
  width: 100% !important;
  height: 50px;
  border-radius: 8px;
  border: 1px solid #535353;
}
/* line 193, ../../src/stylesheets/style.scss */
.formBooking .btn-reservez {
  width: 212px;
  height: 48px;
  text-align: center;
  padding: 18px 60px;
  background: #eb9000;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 10px;
  transition: 0.3s;
}
/* line 204, ../../src/stylesheets/style.scss */
.formBooking .btn-reservez:hover {
  background: #b1720e;
}
/* line 208, ../../src/stylesheets/style.scss */
.formBooking .dateDebut {
  background: url('../images/iconDate.jpg') right 14px center no-repeat;
}
/* line 211, ../../src/stylesheets/style.scss */
.formBooking .iconName {
  background: url('../images/iconName.jpg') right 14px center no-repeat;
}
/* line 214, ../../src/stylesheets/style.scss */
.formBooking .emailBooking {
  background: url('../images/iconEmail.jpg') right 14px center no-repeat;
}

/*formBooking*/
/* line 219, ../../src/stylesheets/style.scss */
.brusselLimoPara {
  overflow: hidden;
  margin-bottom: 60px;
}
/* line 223, ../../src/stylesheets/style.scss */
.brusselLimoPara .brusselLimoParaLeft h2 {
  font-size: 42px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 30px;
  font-weight: bold;
  letter-spacing: 2px;
}
/* line 231, ../../src/stylesheets/style.scss */
.brusselLimoPara .brusselLimoParaLeft p {
  font-size: 24.14px;
  margin-bottom: 40px;
  font-family: 'montserratregular', sans-serif;
}
/* line 236, ../../src/stylesheets/style.scss */
.brusselLimoPara .brusselLimoParaLeft .btnSavoirPlus {
  width: 212px;
  height: 48px;
  text-align: center;
  padding: 18px 30px;
  background: #eb9000;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 10px;
  transition: 0.3s;
}
/* line 247, ../../src/stylesheets/style.scss */
.brusselLimoPara .brusselLimoParaLeft .btnSavoirPlus:hover {
  background: #b1720e;
}
/* line 253, ../../src/stylesheets/style.scss */
.brusselLimoPara .brusselLimoParaRight img {
  margin-top: 35%;
}

/*brusselLimoPara*/
/*===================================================================
==================3d slider==========================================
====================================================================*/
/* line 263, ../../src/stylesheets/style.scss */
.rotateslider-container {
  position: relative;
  width: 1000px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  background-color: #efefef;
}

/* line 272, ../../src/stylesheets/style.scss */
.rotateslider-container .rotateslider-item {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%) scale(0.6);
  -ms-transform: translateY(-50%) translateX(-50%) scale(0.6);
  transform: translateY(-50%) translateX(-50%) scale(0.6);
  opacity: 0;
  -webkit-filter: blur(5px);
  filter: blur(5px);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* line 286, ../../src/stylesheets/style.scss */
.rotateslider-container .rotateslider-item.next {
  left: 80%;
  opacity: 0.5;
}

/* line 291, ../../src/stylesheets/style.scss */
.rotateslider-container .rotateslider-item.prev {
  left: 20%;
  opacity: 0.5;
}

/* line 296, ../../src/stylesheets/style.scss */
.rotateslider-container .rotateslider-item.now {
  opacity: 1;
  -webkit-filter: blur(0px);
  filter: blur(0px);
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%) scale(1);
  -ms-transform: translateY(-50%) translateX(-50%) scale(1);
  transform: translateY(-50%) translateX(-50%) scale(1);
}

/* line 307, ../../src/stylesheets/style.scss */
.rotateslider-container .arrow {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #000;
  position: absolute;
  top: 50%;
  margin-top: -25px;
  cursor: pointer;
  color: #fff;
  text-align: center;
}

/* line 320, ../../src/stylesheets/style.scss */
.rotateslider-container .arrow.left {
  left: 0;
}

/* line 322, ../../src/stylesheets/style.scss */
.rotateslider-container .arrow.right {
  right: 0;
}

/*===================================================================
==================3d slider end======================================
====================================================================*/
/* line 329, ../../src/stylesheets/style.scss */
.brusselLimoSlider {
  background: #f9faff;
  padding: 70px 0 100px 0;
  margin-bottom: 60px;
}
/* line 334, ../../src/stylesheets/style.scss */
.brusselLimoSlider h2 {
  font-family: 'open_sanssemibold', sans-serif;
  text-align: center;
  font-size: 42px;
  color: #eb9000;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 86px;
}
/* line 343, ../../src/stylesheets/style.scss */
.brusselLimoSlider .rotateslider-container {
  position: relative;
  max-width: 1000px;
  height: 370px;
  margin-left: auto;
  margin-left: auto;
  background-color: #f9faff;
}
/* line 350, ../../src/stylesheets/style.scss */
.brusselLimoSlider .rotateslider-container .caption {
  font-family: 'open_sanssemibold', sans-serif;
  background: #eb9000;
  color: #ffffff;
  width: 288px;
  height: 340px;
  left: 50%;
  top: 30%;
  margin-left: -144px;
  padding: 8px 23px;
  text-align: left;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
/* line 366, ../../src/stylesheets/style.scss */
.brusselLimoSlider .rotateslider-container .arrow.right {
  right: 40%;
  background: url('../images/arrowSliderRight.png') right 14px center no-repeat;
}
/* line 370, ../../src/stylesheets/style.scss */
.brusselLimoSlider .rotateslider-container .arrow.left {
  left: 40%;
  background: url('../images/arrowSliderLeft.png') right 14px center no-repeat;
}
/* line 374, ../../src/stylesheets/style.scss */
.brusselLimoSlider .rotateslider-container .arrow {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #000;
  position: absolute;
  top: 110%;
  margin-top: -25px;
  cursor: pointer;
}

/*brusselLimoSlider end*/
/* line 388, ../../src/stylesheets/style.scss */
.blocReservez .blocReservezLeft {
  max-height: 530px;
  overflow-y: scroll;
  overflow-x: hidden;
}
/* line 392, ../../src/stylesheets/style.scss */
.blocReservez .blocReservezLeft h3 {
  font-family: 'open_sanssemibold', sans-serif;
  color: #eb9000;
  font-size: 17.64px;
  margin-bottom: 17px;
  letter-spacing: 1.5px;
}
/* line 399, ../../src/stylesheets/style.scss */
.blocReservez .blocReservezLeft p {
  font-size: 13.72px;
  font-family: 'open_sansregular', sans-serif;
  letter-spacing: 1.5px;
  margin-bottom: 40px;
}
/* line 408, ../../src/stylesheets/style.scss */
.blocReservez .blocReservezRight {
  height: 530px;
  background: url('../images/blocReservezRight.png') right bottom -115px no-repeat;
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  position: relative;
}
/* line 413, ../../src/stylesheets/style.scss */
.blocReservez .blocReservezRight .btn-reservez {
  position: absolute;
  bottom: 100px;
  left: 170px;
  width: 179px;
  height: 48px;
  text-align: center;
  padding: 18px 60px;
  background: #eb9000;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 10px;
  transition: 0.3s;
}
/* line 427, ../../src/stylesheets/style.scss */
.blocReservez .blocReservezRight .btn-reservez:hover {
  background: #b1720e;
}

/*end blocReservez*/
/* line 437, ../../src/stylesheets/style.scss */
.blocNousChoisir {
  padding: 90px 0;
  background: #f9faff;
  overflow: hidden;
}
/* line 442, ../../src/stylesheets/style.scss */
.blocNousChoisir .blocNousChoisirLeft {
  background: url('../images/blocNousChoisirLeft.png') left center no-repeat;
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  height: 650px;
}
/* line 448, ../../src/stylesheets/style.scss */
.blocNousChoisir .blocNousChoisirRight {
  height: 650px;
}
/* line 450, ../../src/stylesheets/style.scss */
.blocNousChoisir .blocNousChoisirRight h2 {
  font-family: 'open_sanssemibold', sans-serif;
  color: #eb9000;
  font-size: 42px;
  margin-bottom: 70px;
  letter-spacing: 1.5px;
}
/* line 457, ../../src/stylesheets/style.scss */
.blocNousChoisir .blocNousChoisirRight h3 {
  font-family: 'open_sanssemibold', sans-serif;
  color: #eb9000;
  font-size: 24px;
  margin-bottom: 30px;
  letter-spacing: 1.2px;
}
/* line 464, ../../src/stylesheets/style.scss */
.blocNousChoisir .blocNousChoisirRight p {
  font-size: 18px;
  font-family: 'open_sansregular', sans-serif;
  color: #000000;
  letter-spacing: 1.2px;
}
/* line 470, ../../src/stylesheets/style.scss */
.blocNousChoisir .blocNousChoisirRight .paraOdd, .blocNousChoisir .blocNousChoisirRight .paraEven {
  padding: 35px 28px;
  max-width: 812px;
}
/* line 474, ../../src/stylesheets/style.scss */
.blocNousChoisir .blocNousChoisirRight .paraEven {
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 30px 24px #eeecff;
  -moz-box-shadow: 0px 0px 30px 24px #eeecff;
  box-shadow: 0px 0px 30px 24px #eeecff;
}

/*blocNousChoisir*/
/* line 484, ../../src/stylesheets/style.scss */
.blocFormulaire {
  overflow: hidden;
  background: linear-gradient(to right, #eb9000, #eb9000 50%, #ffffff 50.01%, #ffffff 100%);
}
/* line 488, ../../src/stylesheets/style.scss */
.blocFormulaire .blocFormulaireLeft {
  padding-top: 219px;
  padding-bottom: 361px;
  font-family: 'Roboto Condensed', sans-serif;
}
/* line 492, ../../src/stylesheets/style.scss */
.blocFormulaire .blocFormulaireLeft h2 {
  font-family: 'Roboto Condensed', sans-serif;
  margin-bottom: 50px;
  font-size: 42px;
  font-weight: 700;
  text-transform: uppercase;
  max-width: 500px;
}
/* line 500, ../../src/stylesheets/style.scss */
.blocFormulaire .blocFormulaireLeft p {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  font-style: italic;
  max-width: 500px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}
/* line 509, ../../src/stylesheets/style.scss */
.blocFormulaire .blocFormulaireRight {
  margin-top: 146px;
  padding-left: 115px;
}
/* line 512, ../../src/stylesheets/style.scss */
.blocFormulaire .blocFormulaireRight label {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 300;
}
/* line 517, ../../src/stylesheets/style.scss */
.blocFormulaire .blocFormulaireRight input {
  border: 0px solid transparent;
  box-shadow: none;
  border-bottom: 1px solid #cacdd9;
  margin-bottom: 88px;
}
/* line 523, ../../src/stylesheets/style.scss */
.blocFormulaire .blocFormulaireRight button.btn-envoyer {
  width: 190px;
  height: 52px;
  text-align: center;
  padding: 18px 60px;
  background: #eb9000;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 10px;
  transition: 0.3s;
}
/* line 534, ../../src/stylesheets/style.scss */
.blocFormulaire .blocFormulaireRight button.btn-envoyer:hover {
  background: #b1720e;
}

/*blocFormulaire*/
/* line 542, ../../src/stylesheets/style.scss */
#footer {
  margin-top: 200px;
  /*subFooter*/
}
/* line 544, ../../src/stylesheets/style.scss */
#footer .subFooter {
  margin-bottom: 170px;
  text-align: left;
}
/* line 547, ../../src/stylesheets/style.scss */
#footer .subFooter h3 {
  font-family: 'Roboto', sans-serif;
  color: #eb9000;
  font-size: 22px;
  margin-bottom: 45px;
  text-transform: uppercase;
  font-weight: bold;
}
/* line 556, ../../src/stylesheets/style.scss */
#footer .subFooter ul li {
  margin-bottom: 30px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
}
/* line 565, ../../src/stylesheets/style.scss */
#footer .socialIcons {
  text-align: right;
  margin-bottom: 100px;
}
/* line 570, ../../src/stylesheets/style.scss */
#footer .footerLinks {
  text-align: right;
  margin-bottom: 35px;
}
/* line 574, ../../src/stylesheets/style.scss */
#footer .footerLinks li a {
  font-size: 16px;
  font-family: 'open_sansregular', sans-serif;
  letter-spacing: 1.2px;
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
}

/*================================================
=============Descktop First=======================
=================================================*/
/*================================================
=============Descktop First END===================
=================================================*/
/*TWEAKS*/
@media (min-width: 1440px) {
  /* line 605, ../../src/stylesheets/style.scss */
  .container {
    width: 1396px;
  }
}
/*@media (min-width: 1200px){
    .container {
        width: 1170px;
    }
}*/
